@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Press+Start+2P&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

body{
  color: #222;
  background-color: #eee;
}

.loading-text{
  font-size: 60px;
  color: green;
  text-align: center;
}

.error-text{
  font-size: 40px;
  color: red;
  text-align: center;
}

.list{
  list-style-type: disc;
  width: 85vw;
  margin: auto;
}

.list-item{
  padding: 20px;
}

header{
  width: 100vw;
  text-align: center;
  margin: 20px 0;
}

.btn{
  width: 30%;
  padding: 10px 8px;
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
  background-color: #df6e6e;
  color: #222;
  border: none;
  border-radius: 3px;
  box-shadow: 2px 2px 5px 2px #c6c6c6;
  transition: 0.3s;
}

.btn:hover, .btn.selected:hover{
  background-color: #222;
  color: #eee;
}

.btn.selected{
  background-color: #9f4b4b;
  color: #eee;
}